name: Build on Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"

      - name: Build Linux binaries
        run: make build/linux

      - name: Prepare release assets
        run: |
          mv build/linux_amd64/bin linux_amd64
          mv build/linux_arm64/bin linux_arm64

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            linux_amd64
            linux_arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
